{% extends 'employee/base.html' %}

{% block content %}
<table class="table table-bordered mt-4">
    <thead>
        <tr>
            <th>IDを教えてね！</th>
            <th>姓</th>
            <th>First name</th>
            <th>メールnight(⋈◍＞◡＜◍)。✧♡</th>
            <th>部署(/・ω・)/</th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employrr_list %}
        <tr>
            <td>{{ employee.pk }}</td>
            <td>{{ employee.last_name }}</td>
            <td>{{ employee.first_name }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.department }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
